body{
    font-family: 'verdana'
}

.left{
    background-color: #b3b3ff;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.interface{
    text-align: center;
    padding: 20px;
}

a.button{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: color 300ms;
}

a:hover{
    color: red;
}

.right{
    background-color: #ccccff;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.ground{
    background-color: green;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.rocket{
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 140px;
    height: 115px;
    margin-left: -50px;
    background: url('../img/Stage1.png') no-repeat 0 0;
    transition: bottom 10000ms cubic-bezier(1, 0.03, 1, 1);
}

/* rocket bg image */
body.body-state2 .rocket{
    background-image: url('../img/Stage2.png');
    width: 140px;
    height: 120px;
}
body.body-state3 .rocket,
body.body-state4 .rocket{
    background-image: url('../img/Stage3.png');
    width: 140px;
    height: 130px;
}
body.body-state5 .rocket{
    background-image: url('../img/Boom.png');
}

body.body-state1 .rocket{
    transition: none;
}


body.body-state3 .rocket,
body.body-state4 .rocket{
    bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
    display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}


a{
    
}

a.button{

}
